<!-- As a link -->
<nav class="navbar navbar-primary bg-primary">
  <a class="navbar-brand" href="#"><span style="color:white">RAG SPRING-AI-PRACTICE</span> </a>
</nav>

<div class="container" style="margin-top: 50px">

  <div class="row">

    <div class="col-md-6">
      <div class="card">
        <div class="card-header"> RAG (Upload document )</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <img src="../assets/rag.png"  width="300" height="400">
            </div>
            <div class="col-md-6">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Uploader un document </label>
                  <input type="file" class="form-control" id="exampleInputEmail1" (change)="selectFiles($event)" placeholder="Document">
                </div>
                <button type="submit" class="btn btn-primary" (click)="upload()">Upload</button>
              </form>

            </div>
            <!--<div *ngIf="message" class="p-3 mb-2 bg-success text-white">
              {{message}}
            </div>-->
          </div>

        </div>
      </div>



    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Assistance Chat</div>
        <div class="card-body">

          <form [formGroup]="askForm">
            <div class="form-group">
              <label for="query">Entrer votre requête </label>
              <input type="text" class="form-control" id="query" formControlName="query"  placeholder="Entrer votre requête">
            </div>
            <button type="submit" class="btn btn-primary" (click)="askLLM()">Envoyer</button>
          </form>

          <div class="large">
            <div *ngIf="message1">
              {{message1}}
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>
